/* Definition list */
.definition-list {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.definition-list > dt {
    flex: 30%;
}

.definition-list > dd {
    flex: 70%;
    margin: 0;
    box-sizing: border-box;
}
