/* Tag list */
.tag-list {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
}

/* Tag list list item*/
.tag-list > li {
    display: inline-block;
    padding: 6px;
}

.tag-list > li:first-child {
    padding-left: 0;
}

.tag-list > li:last-child {
    padding-right: 0;
}

/* Tag */
.tag {
    display: inline-block;
    line-height: 19px;
    font-size: 16px;
    background-color: var(--secondary-background-color);
    position: relative;
    text-transform: uppercase;
    padding: 5px 10px;
}

.tag:hover {
    cursor: pointer;
    background-color: var(--primary-background-color);
}
