<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Id.IoT</title>
</head>
<body>
    <main>
        <div>
            <rc-filter></rc-filter>
            <rc-table></rc-table>
        </div>
    </main>

    <script type="module" src="../components/base/c-checkbox-select.js"></script>

    <script type="module" src="../components/reactive/rc-table.js"></script>
    <script type="module" src="../components/reactive/rc-filter.js"></script>
</body>
</html>
