.device-terminal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 14px 20px;
    box-sizing: border-box;
    background-color: var( --primary-background-color );
    border-top: 1px solid var(--secondary-background-color);
    z-index: 200;
    line-height: 2rem;
}
