.toolbox {

}

.canvas {
    background-color: var(--quaternary-color);
    border: 2px dashed #ccc;
    height: 500px;
    width: 100%;
    position: relative;
}

.lambda-flow-tool{

}

.dragging {
    opacity: 0.5;
}

.toolbox .btn {
    cursor: grab;
}

.canvas .btn {
    border: 1px solid white;
    position: relative;
}

.canvas .btn::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -5px;
    width:10px;
    height: 10px;
    background-color: var(--primary-color);
    border: 1px dashed var(--octonary-color);
    transform: rotate(45deg);
}

.canvas .btn.sink::after, .canvas .btn.process::after {
    content: "";
    position: absolute;
    top: 12px;
    left: -5px;
    width:10px;
    height: 10px;
    background-color: var(--primary-color);
    border: 1px dashed var(--octonary-color);
    transform: rotate(45deg);
}
.canvas .btn.process::before {
    content: "";
    position: absolute;
    top: 12px;
    right: -5px;
    width:10px;
    height: 10px;
    background-color: var(--primary-color);
    border: 1px dashed var(--octonary-color);
    transform: rotate(45deg);
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
