/* Select */
.select {
    display: inline-block;
    width: 100%;
    background-color: var(--secondary-background-color);
    color: var(--primary-font-color);
    padding: 9px 14px;
    height: auto;
    position: relative;
    box-sizing: border-box;
}

.select-compact {
    width: auto;
    padding: 4px 40px 4px 10px;
}




/* Select label */
.select-label {
    line-height: 0;
    padding: 14px 0;
}

.select-label::after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.33329C11.68 1.33329 14.6667 4.32663 14.6667 7.99996L14.6641 8.18647C14.5652 11.7803 11.6176 14.6666 8 14.6666C4.32666 14.6666 1.33333 11.68 1.33333 7.99996C1.33333 4.32663 4.32666 1.33329 8 1.33329ZM5.33333 9.31996C5.53333 9.51329 5.84666 9.51329 6.04 9.31329L7.99999 7.34663L9.95999 9.31329C10.1533 9.51329 10.4733 9.51329 10.6667 9.31996C10.8667 9.11996 10.8667 8.80663 10.6667 8.61329L8.35333 6.28663C8.25999 6.19329 8.13333 6.13996 7.99999 6.13996C7.86666 6.13996 7.74 6.19329 7.64666 6.28663L5.33333 8.61329C5.23333 8.70663 5.18666 8.83329 5.18666 8.95996C5.18666 9.09329 5.23333 9.21996 5.33333 9.31996Z' fill='black'/%3E%3Cpath d='M14.6667 7.99996L15.1667 8.00683V7.99996H14.6667ZM14.6641 8.18647L15.164 8.20022L15.1641 8.19334L14.6641 8.18647ZM6.04 9.31329L5.6858 8.9603L5.6805 8.96578L6.04 9.31329ZM5.33333 9.31996L4.97972 9.67356L4.98582 9.67945L5.33333 9.31996ZM7.99999 7.34663L8.35415 6.99367L7.99999 6.63832L7.64584 6.99367L7.99999 7.34663ZM9.95999 9.31329L10.3195 8.96574L10.3141 8.96034L9.95999 9.31329ZM10.6667 9.31996L10.3131 8.9664L10.3131 8.96641L10.6667 9.31996ZM10.6667 8.61329L10.312 8.9659L10.3192 8.97279L10.6667 8.61329ZM8.35333 6.28663L8.7079 5.93409L8.70688 5.93307L8.35333 6.28663ZM7.64666 6.28663L7.29311 5.93307L7.29209 5.93409L7.64666 6.28663ZM5.33333 8.61329L5.67449 8.97882L5.68131 8.97245L5.6879 8.96583L5.33333 8.61329ZM15.1667 7.99996C15.1667 4.05081 11.9565 0.833294 8 0.833294V1.83329C11.4035 1.83329 14.1667 4.60244 14.1667 7.99996H15.1667ZM15.1641 8.19334L15.1666 8.00683L14.1667 7.99309L14.1641 8.1796L15.1641 8.19334ZM8 15.1666C11.8892 15.1666 15.0576 12.064 15.1639 8.20022L14.1643 8.17272C14.0728 11.4967 11.3461 14.1666 8 14.1666V15.1666ZM0.833328 7.99996C0.833328 11.9564 4.05084 15.1666 8 15.1666V14.1666C4.60248 14.1666 1.83333 11.4035 1.83333 7.99996H0.833328ZM8 0.833294C4.05052 0.833294 0.833328 4.05048 0.833328 7.99996H1.83333C1.83333 4.60277 4.6028 1.83329 8 1.83329V0.833294ZM5.6805 8.96578C5.67954 8.96677 5.68019 8.96589 5.68229 8.965C5.68405 8.96427 5.68536 8.96414 5.68589 8.96414C5.68638 8.96413 5.68627 8.96422 5.68566 8.96398C5.68531 8.96384 5.68363 8.96316 5.68084 8.96046L4.98582 9.67945C5.37727 10.0579 6.00744 10.0664 6.39949 9.6608L5.6805 8.96578ZM7.64584 6.99367L5.68584 8.96034L6.39415 9.66624L8.35415 7.69958L7.64584 6.99367ZM10.3141 8.96034L8.35415 6.99367L7.64584 7.69958L9.60584 9.66624L10.3141 8.96034ZM10.3131 8.96641C10.3139 8.9656 10.3152 8.96475 10.3163 8.96431C10.3171 8.96401 10.3171 8.96414 10.3166 8.96414C10.3161 8.96413 10.3163 8.96402 10.3172 8.96441C10.3177 8.96461 10.3183 8.96491 10.3188 8.96529C10.3194 8.96568 10.3196 8.96593 10.3195 8.96578L9.6005 9.6608C9.98937 10.0631 10.6306 10.0631 11.0202 9.67351L10.3131 8.96641ZM10.3192 8.97279C10.3202 8.97377 10.3191 8.97294 10.318 8.97031C10.317 8.96799 10.3167 8.9658 10.3167 8.96413C10.3167 8.96247 10.317 8.96156 10.317 8.96146C10.3172 8.96109 10.3166 8.96291 10.3131 8.9664L11.0202 9.67351C11.4121 9.28163 11.4209 8.64694 11.0142 8.2538L10.3192 8.97279ZM7.99876 6.63916L10.3121 8.96583L11.0212 8.26076L8.7079 5.93409L7.99876 6.63916ZM7.99999 6.63996L7.99977 6.64018L8.70688 5.93307C8.52085 5.74704 8.26744 5.63996 7.99999 5.63996V6.63996ZM8.00022 6.64018L7.99999 6.63996V5.63996C7.73255 5.63996 7.47914 5.74704 7.29311 5.93307L8.00022 6.64018ZM5.6879 8.96583L8.00123 6.63916L7.29209 5.93409L4.97876 8.26076L5.6879 8.96583ZM5.68666 8.95996C5.68666 8.95766 5.68712 8.95892 5.68537 8.96319C5.68447 8.9654 5.68307 8.96816 5.68103 8.97113C5.67897 8.97416 5.67667 8.97678 5.67449 8.97882L4.99217 8.24776C4.77938 8.44637 4.68666 8.71122 4.68666 8.95996H5.68666ZM5.68688 8.96641C5.68556 8.96509 5.68546 8.96474 5.68591 8.96543C5.68636 8.96612 5.68683 8.96702 5.68717 8.96786C5.68798 8.9699 5.68666 8.96801 5.68666 8.95996H4.68666C4.68666 9.21521 4.77871 9.47245 4.97977 9.67351L5.68688 8.96641Z' fill='white' /%3E%3C/svg%3E%0A");
    position: absolute;
    right: 14px;
    top: 14px;
    rotate: 180deg;
}

.select-checkbox:checked + .select-label::after {
    filter: invert(1);
    rotate: 0deg;
}

.select-compact .select-label::after {
    top: 10px;
}



/* Checkbox, radio list */
.radio-list,
.checkbox-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.select .radio-list,
.select .checkbox-list {
    display: none;
}

.select-checkbox:checked ~ .radio-list,
.select-checkbox:checked ~ .checkbox-list {
    position: absolute;
    top: 101%;
    left: 0;
    display: block;
    width: 100%;
    background-color: var(--secondary-background-color);
    max-height: 50vh;
    overflow-y: scroll;
}



/*Checkbox / radio list items */
.radio-list > li,
.checkbox-list > li {
    width: 100%;
}



/*shared styles between any kind of select*/
.radio-li-label,
.checkbox-li-label {
    display: inline-block;
    width: 100%;
    padding: 10px 14px;
    box-sizing: border-box;
}

.radio-li-label:hover,
.checkbox-li-label:hover {
    background-color: var(--tertiary-background-color);
    cursor: pointer;
}
